{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.emp_id.label }}<br>
            {{ form.emp_id(size=32) }}<br>
            {% for error in form.emp_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.skills.label }}<br>
            {{ form.skills(size=64) }}<br>
        </p>
        <p>
            {{ form.experience.label }}<br>
            {{ form.experience(size=32) }}<br>
            {% for error in form.experience.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.emp_rating.label }}<br>
            {{ form.emp_rating(size=32) }}<br>
            {% for error in form.emp_rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
